@import '../../common/styles/styles.scss';

.main {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;

    @media screen and (max-width: 980px) {
        padding-top: 160px;
    }

    @media screen and (max-width:

        /* 670 */
        801px) {
        flex-direction: column;
        align-items: center;
        padding-top: 110px;
    }

    &__title {
        z-index: 1;

        @media screen and (max-width: 801px) {
            width: 70%;
        }

        @media screen and (max-width: 380px) {
            width: 100%;
        }

        h1 {
            font-family: Inter;
            font-weight: 400;
            font-size: 48px;
            color: $base-color;
            margin: 0;

            @media screen and (max-width: 730px) {
                font-size: 35px;
            }

            span {
                margin: 0;
                font-family: Inter;
                font-weight: 900;
                font-size: 72px;
                background: -webkit-radial-gradient(#FF3F78, #FCB045);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                @media screen and (max-width: 730px) {
                    font-size: 52px;
                }

                @media screen and (max-width: 4400px) {
                    font-size: 45px;
                }
            }
        }

        p {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 18px;
            color: $base-color;

            @media screen and (max-width: 561px) {
                font-size: 17px;
            }
        }
    }

    &__content {
        width: 35%;

        @media screen and (max-width: 800px) {
            width: 70%;
        }

        @media screen and (max-width: 380px) {
            width: 100%;
        }

        h2 {
            font-family: 'Inter';
            font-weight: 500;
            text-align: right;
            line-height: 22px;
            font-size: 18px;
            color: $base-color;

            @media screen and (max-width: 801px) {
                text-align: left;
                font-size: 15px;
                line-height: 25px;
            }

            span {
                font-size: 18px;
                font-weight: 700;
                background: -webkit-radial-gradient(#FCB045, #FD1D1D);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-transform: uppercase;

                @media screen and (max-width: 835px) {
                    font-size: 15px;
                }
            }
        }

        &_gifts {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 50px;

            @media screen and (max-width: 1100px) {
                gap: 15px;
                justify-content: end;
            }

            @media screen and (max-width: 801px) {
                justify-content: start;
            }

            @media screen and (max-width: 561px) {
                display: none;
            }

        }

        &_giftsItem {
            color: $base-color;
            min-width: 90px;
            max-width: 143px;
            text-align: right;

            @media screen and (max-width: 800px) {
                text-align: left;
            }

            h3 {
                font-family: 'Inter';
                font-weight: 500;
                margin: 0;
                font-size: 18px;
                line-height: 22px;
            }

            p {
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 16px;
                margin-top: 10px;
            }
        }

        &_otherGifts {
            /*user will see on 561 screen width*/
            display: none;

            @media screen and (max-width: 561px) {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;

                &_item {
                    h3 {
                        color: $base-color;
                        font-family: Montserrat;
                        font-size: 13px;
                        font-weight: 400;
                        text-align: left;
                        position: relative;
                        width: 114px;

                        &::after {
                            content: "";
                            display: block;
                            width: 10px;
                            height: 2px;
                            left: -15px;
                            top: 50%;
                            position: absolute;
                            background: linear-gradient(to bottom, #FCB045 50%, #FD1D1D 50%);

                        }
                    }

                }
            }
        }

        button {
            display: block;
            margin: 65px 0 0 auto;
            width: 262px;
            height: 61px;
            color: $base-color;
            background: #0d99ff;
            cursor: pointer;

            @media screen and (max-width: 800px) {
                width: 212px;
                height: 51px;
                margin: 25px auto auto 0;
            }

            @media screen and (max-width: 561px) {
                display: none;
            }
        }
    }
}