.app {
 
 background: #08050d;
  
  &__gradientBlock {
      position: absolute;
      left: -20%;
      width: 781px;
      height: 781px;
      background-image: radial-gradient(circle farthest-side at 50% 50%, #961A1A45, #961A1A00);
      z-index: 0;
      @media screen and (max-width: 730px) {
        width: 430px;
        height: 430px;
      }
    }

  &__topGradientBlock {
      position: absolute;
      left: 35%;
      top: -25%;
      width: 381px;
      height: 381px;
      background-image: radial-gradient(circle farthest-side at 50% 50%, #2b113c, #961A1A00);
      z-index: 0;
      @media screen and (max-width: 730px) {
        width: 251px;
        height: 251px;
      }
    }

    .purpleBall {
      position: absolute;
      left: 60%;
      width: 60px;
      height: 60px;
    }

    .redball {
      position: absolute;
      left: 40%;
      top: 10%;
      width: 83px;
      height: 83px;
    }

    .smallRedBall {
      position: absolute;
      bottom: 10%;
      left: 60%;
    }
  }

.container {
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
  @media screen and (max-width: 1150px) {
    max-width: 950px;
  }
  @media screen and (max-width: 980px) {
    max-width: 800px;
  }
  @media screen and (max-width: 830px) {
    max-width: 700px;
  }
  @media screen and (max-width: 730px) {
    max-width: 620px;
  }
  @media screen and (max-width: 650px) {
    max-width: 530px;
  }
}