* {
  font-family: 'Montserrat', sans-serif;
}

.app {
  /* height: 100vh; */
  background-image: radial-gradient(farthest-corner at 100px 100px, rgb(72, 18, 18) , rgb(20, 20, 58));
}

.container {
  height: 100%;///
  max-width: 1140px;
  margin: 0 auto;
}